target/
code/gui/org.jims.modules.crossbow.gui/bin/
code/jims/jims-crossbow/jims-crossbow-gui/META-INF/
code/xbow/xbow-native/xbow-native-lib/xbow-native-lib-*/src/test/c/mock
code/xbow/xbow-native/xbow-native-lib/xbow-native-lib-*/src/test/include/mock
code/sync.sh
tex/thesis/*.acn
tex/thesis/*.glo
tex/thesis/*.ist
nbactions.xml
*.dia~
*.swp
*.swo
*~
*.gch
*.class
*.eps
*.bbl
*.blg
ssh-config.xml
tags
.lvimrc
.classpath
.project
build.properties
gui.log
