code/xbow-base/nbactions.xml
code/xbow-base/src/main/c/flowadm/tags
code/xbow-base/src/main/c/etherstub/Makefile.defs
code/xbow-base/src/main/c/link/Makefile.defs
code/xbow-base/target/
*.dia~
*.swp
*~
*.gch
tags
.lvimrc
